.containerMain {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  max-height: 80vh;
}

@media (max-width: 991px) {
  .title {
    text-align: center;
    padding-block-end: 30px;
  }

  .main {
    flex-direction: column-reverse;
    max-height: fit-content;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .title {
    padding: 10px;
  }
}


