.content {
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 520px;
}

.nutritional_values {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #8585ad;
}

.nutritional_value {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 991px) {
  .nutritional_values {
    max-width: 465px;
  }
}

@media (max-width: 584px) {
  .nutritional_values {
    flex-direction: column;
    max-width: 230px;
  }

  .nutritional_value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .content h3 {
    max-width: 230px;
  }
}