.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.menu_part_left {
  display: flex;
  flex-basis: 35%;
}

.link {
  display: flex;
  text-decoration: none;
  color: var(--text-inactive-color);
}

.link_active {
  display: flex;
  color: var(--text-primary-color);
  text-decoration: none;
}

.link_position_last {
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .menu {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 180px;
  }

  .menu_part_left {
    order: 3;
    align-self: flex-start;
    flex-direction: column;
    gap: 15px;
  }

  .link_position_last {
    align-self: flex-end;
  }
}


@media (max-width: 767px) {}
@media (max-width:  575px) {}